{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="my-5">Découvrez {{ project.title }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                        <div class="card-body">
                            <p class="card-text">
                                {{ project.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offset-md-2">
                    {{ form_start(form) }}
                    {{ form_row(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}