<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('anaxago_starter_homepage') }}">
                <img src="https://www.anaxago.com/bundles/satoripopfront/img/logo.svg" height="40"
                     class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav justify-content-end w-100">
                    {% if not app.user %}
                        <li><a href="{{ path('anaxago_starter_login') }}" class="btn btn-outline-success my-2 my-sm-0">Se connecter</a>
                        </li>
                        <li><a href="{{ path('anaxago_starter_registration') }}"
                               class="btn btn-outline-primary my-2 my-sm-0 ml-2">S'enregistrer</a></li>
                    {% else %}
                        <li><p>Bonjour {{ app.user.fullName }}</p></li>
                        <li><a class="btn btn-outline-primary my-2 my-sm-0 ml-2"
                               href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<div class="container">
    {% block body %}
    {% endblock %}
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="list-unstyled">
            <li><a href="{{ path('anaxago_stats') }}">Statistiques</a></li>
        </ul>
    </div>
</nav>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
